@import url("https://fonts.googleapis.com/css?family=Oswald:200");

/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {    
    font-size: 16px;
    max-width: 56em;
    border: 0px;
    padding: 0 20px;
    margin: auto;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    font-family: "Oswald", arial narrow;
    background-color: #BCDDCE;
}

header img {
    float: left;
    border: 0px;
    padding: 5px 3px;
    margin: 0px;
}

@media only screen and (max-width: 500px) {
header h1 {
    font-size: 6.5vw;
    clear: left;
    text-transform: lowercase;
    margin: 0;
    }
}

header h1 {
    text-transform: uppercase;
    color: #0049AF;
}

header .subheading {
    color: #00000C;
    }

/* Navigation */

.hamburger {
    display: block;
    position: absolute;
    top: 13.5rem;
    left: 2rem;
}

.navigation {
    font-family: "Oswald", arial solid;
    list-style: none;
    padding-left: 0;
    
}

.navigation li {
    display: none;
}

.navigation.responsive {
    position: relative;
}
 
.navigation.responsive li {
    background-color: #1a9835; 
    display: block;
    width: 100%;
    margin: 2px 0;
    border: 1px solid #ddd;
}

.navigation.responsive li a {
    padding: 1rem;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: #eee;
    font-weight: 800;
}

.navigation.responsive li a:hover {
    background-color: #17852f;    
}

main {
    font-family: "Oswald", arial;
    background: #BCDDCE;
    clear:both;
    padding: 25px 0;
    }

main h2 {
    text-align: center;
    color: #00000C;
}

main figure { 
    margin: 0 2% .2rem 2%; 
    width:96%;
    }

main figure img { 
    width:100%;
}
section {
  text-align: center;
  color: #00000C;
  width: auto;
  height: auto;
}

.highlow{
    float: left;
    width: 30%;
}

.current{
    float: left;
    width: 35%;
    }

.conditions {
    float: left;
    width: 30%;
    margin: 0 5px;
}

.forecast { 
    display: none;
}

.forecast{
    padding: 15px 0 0 0;
    clear:both;

}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
    }

table, th, td {
    height: 30px;
    vertical-align: bottom;
    border: 1px solid black;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

article{
    max-width: 100%; 
    text-align:justify;
    color: #00000C;
    clear: both;
    padding: 15px 0 0 0;
    margin: 1em 1em 0 1em;
    overflow:auto;
}

.img_story {
    width: auto; 
    margin: 0 0 0 1em;
    float: right;
    }

footer {
    font-family: 'Oswald', sans;
    color: #fff;
    clear:both;
    text-align: center;
    padding: 0 0 5px;
    background-color: #447CBA; 
} 

.aside {
    clear:both;
    text-align: center;
    padding: 5px 0;
    background-color: #4A91D3; 
} 

footer>p {
}/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */