/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {    
    font-size: 16px;
    max-width: 56em;
    border: 0px;
    padding: 0 20px;
    margin: auto;
}
    @font-face {
    font-family: 'bebas_neuebook';
    src: url('fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}  
  /* Declare the base font-family - from google font api or other */

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    background-color: #BCDDCE;
}

header img {
    float: left;
    border: 0px;
    padding: 5px 3px;
    margin: 0px;
}

@media only screen and (max-width: 500px) {
header h1 {
    clear: left;
    }
    header img {
        margin-left: 2.5em;
    }
}
header h1 {
    font-family: "bebas_neueregular", pmingliu;
    text-transform: uppercase;
    color: #0049AF;
}

header .subheading {
    font-family: "bebas_neueregular", pmingliu;
    color: #00000C;
    }

/* nav {
    font-family: "bebas_neuebook", arial solid;
    float: left;
    padding: 5px 0 0;
    margin: 8px 0;
}

nav button {}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4A91D3; 
    
} */

/* Navigation */

.hamburger {
    display: block;
    position: absolute;
    top: 15.5rem;
    left: 2rem;
}

.navigation {
    font-family: "bebas_neuebook", arial solid;
    list-style: none;
    padding-left: 0;
    
}

.navigation li {
    display: none;
}

.navigation.responsive {
    position: relative;
}
 
.navigation.responsive li {
    background-color: #1a9835; 
    display: block;
    width: 100%;
    margin: 2px 0;
    border: 1px solid #ddd;
}

.navigation.responsive li a {
    padding: 1prem;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: #eee;
    font-weight: 800;
}

.navigation.responsive li a:hover {
    background-color: #17852f;    
}
/*
nav ul li { 
    float: left;
    border-right:1px solid #fff;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    color: #00000C;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav ul li.active a {
    color: white;
    background-color: #0049AF;
}

nav ul li a:hover {
    color: white;
    background-color: #0049AF;
}

nav ul li.right {float: right;}

@media screen and (max-width: 630px){
    nav ul li.right, 
    nav ul li {float: none;}
}
*/
main {
    font-family: "bebas_neuebook", arial narrow;
    background: #BCDDCE;
    clear:both;
    padding: 25px 0;
    }

main h2 {
    text-align: center;
    color: #00000C;
}

main figure { 
    margin: 0 2% .2rem 2%; 
    width:96%;
    }

main figure img { 
    width:100%;
}
section {
  text-align: center;
  color: #00000C;
  width: auto;
  height: auto;
}

.highlow{
    float: left;
    width: 30%;
}

.current{
    float: left;
    width: 35%;
    }

.conditions {
    float: left;
    width: 30%;
    margin: 0 5px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .forecast { display: none; }  /* hide it on small screens */
}

.forecast{
    padding: 15px 0 0 0;
    clear:both;

}

table {
    border-collapse: collapse;
    width: 90%;
    margin-left:auto; 
    margin-right:auto;
    }

table, th, td {
    height: 30px;
    vertical-align: bottom;
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

article{
    max-width: 100%; 
    text-align:justify;
    color: #00000C;
    clear: both;
    padding: 15px 0 0 0;
    margin: 1em 1em 0 1em;
    overflow:auto;
}

.img_story {
    width: auto; 
    margin: 0 0 0 1em;
    float: right;
    }

footer {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    clear:both;
    text-align: center;
    padding: 0 0 5px;
    background-color: #447CBA; 
} 

.aside {
    clear:both;
    text-align: center;
    padding: 5px 0;
    background-color: #4A91D3; 
} 

footer>p {
}/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */