@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  /* nav button { display:none; }  hamburger button does not need to be shown */
  
  section.forecast { display: block }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */

.hamburger {
    display: none;
    position: absolute;
    top: 16.5rem;
    left: 2rem;
}

.navigation {
    background-color: #1a9835;
    overflow: hidden;
    text-align: center;
}
 
.navigation li {
    display: inline-block;
    margin-left: .25rem;
    background-color: #1a9835; 
}

.navigation a {
    display: block;
    color: #eee;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    
}

.navigation a:hover {
    background-color: #17852f;
}
}